@import "~src/assets/scss/mixins.scss";
@import "~src/assets/scss/blink-animation.scss";

.page_content {
    width: 100%;
    display: flex;
    flex-direction: column;

    .page_title {
        padding: 0 5px;

        h1 {
            margin: 10px 0;
        }
    }

    .tool_container {
        position: relative;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0 5px;

        @media (min-width: 800px), (min-height: 800px) {
            position: sticky;
            top: 5px;
            z-index: 1;
        }

        @media (max-width: 965px) {
            justify-content: flex-start;
        }

        .tool {
            box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 6px;
            padding: 5px 22px;
            background-color: #212031;
            color: #fff;
            margin: 5px 5px;
            align-items: center;
            display: flex;
            height: fit-content;
            height: 65px;

            .my-mat-field {
                font-weight: 500;
                .mat_label {
                    color: #fff;
                }
            }
        }
    }

    .body_content {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .hidden {
            .match {
                height: 100px;
            }
        }

        .match_container {
            padding: 10px;
            width: 25%;
            height: fit-content;
            box-sizing: border-box;

            @media (max-width: 770px) {
                width: 50%;
            }

            @media (max-width: 505px) {
                width: 100%;
            }

            .match {
                box-sizing: border-box;
                position: relative;
                width: 100%;
                padding: 10px;
                box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 6px;
                background-color: #fff;
                text-align: center;
                // background-image: url(https://www.ligastavok.ru/soccer-eff3e5.webp);

                .date {
                    font-size: 12px;
                    margin: 0 0 5px 0;
                }

                .teams {
                    display: flex;
                    align-items: center;

                    .team {
                        cursor: pointer;
                        padding: 5px;
                        width: 30%;
                        font-size: 14px;
                        line-height: 14px;
                        text-decoration: underline;
                        text-decoration-color: red;
                    }

                    .score {
                        width: 40%;
                    }
                }
            }
        }
    }
}
