.blink {
    animation: blink 1.5s linear 0s infinite;
    -webkit-animation: blink 1.5s linear 0s infinite;
}

@keyframes blink {
    50% {
        opacity: 0.5;
    }
}
@-webkit-keyframes blink {
    50% {
        opacity: 0.5;
    }
}
